<h1>Stock Market App</h1>
<%@api%>

  <%= form_tag root_path, :method => 'POST' do%>
    <%= text_field_tag :ticker, nil, placeholder: 'Enter Ticker Symbol', size: 50 %>
    <%= submit_tag 'Search' %>
    <%end%>
</br>
<% if @stocklogo%>
<strong><%= @stockcompany.company_name%></strong>
</br> </br>
<img src="<%= @stocklogo.url%>"> 
</br> </br>
<%= @stockcompany.description%>
<% elsif @nothing%>
<%= @nothing%>
<% end %>

<%if @error %>
  <%= @error %>
<% end%>
